body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px    ;
}

input, button{
    padding: 10px;
    margin: 5px;
}

#resultado{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: red;
}
